{% extends 'base.html' %}

{% block title %}ECAM Web{% endblock %}

{% block extra_css %}
<style>
    .w3-dropdown-content {
        transform: translateX(-10%);
    }

    .tree-headings {
        padding-left: 35px;
    }
    .tree-heading-before {
        padding-left: 6px;
    }

    .caret::before {
        content: "\25B6";
        display: inline-block;
        margin-right: 6px;
    }

    .caret-down::before {
        transform: rotate(90deg);
    }

    .tree-item {
        display: flex; /* Align children in a row */
        align-items: center; /* Vertically center align */
        padding: 4px 0; /* Add some spacing */
    }

    .tree-item .tree-text {
        flex-grow: 1; /* Allow text to grow as needed */
    }

    .tree-item .item-actions {
        display: none; /* Hide by default */
        margin-left: 20px; /* Position 20px from the text */
        z-index: 1;
    }

    /* Show the three dots on hover */
    .tree-item:hover .item-actions {
        display: inline-block;
    }

    /* Dropdown appears when hovering on the three dots */
    .item-actions:hover .w3-dropdown-content {
        display: block;
    }

    /* Hover effect for tree items */
    .tree-item:hover {
        background-color: #f1f1f1;
    }

    .w3-container-tree {
        width: fit-content !important; /* Override the width */
    }

    /* Scoped to section buttons in the dashboard */
    .w3-bar-item.w3-button.section-button {
        width: 200px; /* Set a fixed width for section buttons */
        text-align: left; /* Align text to the left */
        padding-left: 16px; /* Optional padding */

        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
        }
    
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }       
    }
       
    
</style>
{% endblock %}

{% block content %}

<!-- Location Section -->
<div class="w3-bar w3-white w3-margin-bottom w3-bottombar">
    <button onclick="toggleOpenClose('location')" class="w3-bar-item w3-button section-button">
        <i id="chevronIcon-location" class="bi bi-chevron-right"></i> Location
    </button>
    <div class="w3-dropdown-hover">
        <button class="w3-button">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="{% url 'location' %}" class="w3-bar-item w3-button">
                <i class="bi bi-box-arrow-up-right"></i> Full Page
            </a>
            <a href="#" onclick="exportlocation()" class="w3-bar-item w3-button">
                <i class="bi bi-file-earmark-arrow-down"></i> Export
            </a>
        </div>
    </div>
</div>
<div id="location" class="w3-container w3-container-tree w3-hide">
    <span class="tree-headings">
        Clients
        <i class="bi bi-chevron-right"></i><span class=tree-heading-before>Projects</span>
        <i class="bi bi-chevron-right"></i><span class=tree-heading-before>Locations</span>
        <i class="bi bi-chevron-right"></i><span class=tree-heading-before>Measurements</span>
    </span>
    {% for client in clients %}
    <div class="tree-item w3-hover-light-grey">
        <div class="tree-text">
            <button onclick="toggleOpenClose('{{ client.name }}-{{ client.id }}')" 
                    class="w3-button" 
                    title="Email: {{ client.contact_email }}, Phone: {{ client.phone_number}}" >
                <i id="chevronIcon-{{ client.name }}-{{ client.id }}" class="bi bi-chevron-right"></i> {{ client.name }}
            </button>
        </div>
        <div class="item-actions">
            <button class="w3-button">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" class="w3-bar-item w3-button"><i class="bi bi-plus"></i> Add Client</a>
                {% comment %} 
                part of modal form design
                <a href="#" class="w3-bar-item w3-button" onclick="showEditCard('client', '{{ client.id }}')"><i class="bi bi-pencil"></i> Edit</a> 
                {% endcomment %}
                <a href="#" class="w3-bar-item w3-button"><i class="bi bi-pencil"></i> Edit</a>
                <a href="#" class="w3-bar-item w3-button"><i class="bi bi-trash"></i> Delete</a>
            </div>
        </div>

        {% comment %} 
        Part of modal form design
        <div id="editModal" class="modal">
            <div class="modal-content">
                <div id="formContent"></div>
            </div>
        </div>         
        {% endcomment %}
        

    </div>
    <div id="{{ client.name }}-{{ client.id }}" class="w3-container w3-hide w3-margin-left">
        {% for project in client.projects.all %}
        
        <div class="tree-item w3-hover-light-grey">
            <div class="tree-text">
                <button onclick="toggleOpenClose('{{ project.name }}-{{ project.id }}')" class="w3-button">
                    <i id="chevronIcon-{{ project.name }}-{{ project.id }}" class="bi bi-chevron-right"></i> {{ project.name }} ({{ project.get_project_type_display }})
                </button>
            </div>
            <div class="item-actions">
                <button class="w3-button">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a href="#" class="w3-bar-item w3-button"><i class="bi bi-plus"></i> Add Project</a>
                    <a href="#" class="w3-bar-item w3-button"><i class="bi bi-pencil"></i> Edit</a>
                    <a href="#" class="w3-bar-item w3-button"><i class="bi bi-trash"></i> Delete</a>
                </div>
            </div>
        </div>
        
        
        <div id="{{ project.name }}-{{ project.id }}" class="w3-container w3-hide w3-margin-left">
            {% for location in project.locations.all %}
            <div class="tree-item w3-hover-light-grey">
                <div class="tree-text">
                    <button onclick="toggleOpenClose('{{ location.name }}-{{ location.id }}')" class="w3-button">
                        <i id="chevronIcon-{{ location.name }}-{{ location.id }}" class="bi bi-chevron-right"></i> {{ location.name }}
                    </button>
                </div>
                <div class="item-actions">
                    <button class="w3-button">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button"><i class="bi bi-plus"></i> Add Location</a>
                        <a href="#" class="w3-bar-item w3-button"><i class="bi bi-pencil"></i> Edit</a>
                        <a href="#" class="w3-bar-item w3-button"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
            <div id="{{ location.name }}-{{ location.id }}" class="w3-container w3-hide w3-margin-left">
                {% for measurement in location.measurements.all %}
                <div class="tree-item w3-hover-light-grey">
                    <div class="tree-text">
                        <button class="w3-button">
                            {{ measurement.name }}
                        </button>
                    </div>
                    <div class="item-actions">
                        <button class="w3-button">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <a href="#" class="w3-bar-item w3-button"><i class="bi bi-plus"></i> Add Measurement</a>
                            <a href="#" class="w3-bar-item w3-button"><i class="bi bi-pencil"></i> Edit</a>
                            <a href="#" class="w3-bar-item w3-button"><i class="bi bi-trash"></i> Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


<!-- Measurement Section -->
<div class="w3-bar w3-white w3-margin-bottom w3-bottombar">
    <button onclick="toggleOpenClose('measurement')" class="w3-bar-item w3-button section-button">
        <i id="chevronIcon-measurement" class="bi bi-chevron-right"></i> Measurement
    </button>
    <div class="w3-dropdown-hover">
        <button class="w3-button">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="{% url 'measurement' %}" class="w3-bar-item w3-button">
                <i class="bi bi-box-arrow-up-right"></i> Full Page
            </a>
            <a href="#" onclick="exportmeasurement()" class="w3-bar-item w3-button">
                <i class="bi bi-file-earmark-arrow-down"></i> Export
            </a>
        </div>
    </div>
</div>
<div id="measurement" class="w3-container w3-hide">
    <p>Content about Measurement.</p>
</div>

<!-- Data Section -->
<div class="w3-bar w3-white w3-margin-bottom w3-bottombar">
    <button onclick="toggleOpenClose('data')" class="w3-bar-item w3-button section-button">
        <i id="chevronIcon-data" class="bi bi-chevron-right"></i> Data
    </button>
    <div class="w3-dropdown-hover">
        <button class="w3-button">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="{% url 'data' %}" class="w3-bar-item w3-button">
                <i class="bi bi-box-arrow-up-right"></i> Full Page
            </a>
            <a href="#" onclick="exportdata()" class="w3-bar-item w3-button">
                <i class="bi bi-file-earmark-arrow-down"></i> Export
            </a>
        </div>
    </div>
</div>
<div id="data" class="w3-container w3-hide">
    <p>Content about Data.</p>
</div>

<!-- Dictionary Section -->
<div class="w3-bar w3-white w3-margin-bottom w3-bottombar">
    <button onclick="toggleOpenClose('dictionary')" class="w3-bar-item w3-button section-button">
        <i id="chevronIcon-dictionary" class="bi bi-chevron-right"></i> Dictionary
    </button>
    <div class="w3-dropdown-hover">
        <button class="w3-button">
            <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            <a href="{% url 'dictionary' %}" class="w3-bar-item w3-button">
                <i class="bi bi-box-arrow-up-right"></i> Full Page
            </a>
            <a href="#" onclick="exportdictionary()" class="w3-bar-item w3-button">
                <i class="bi bi-file-earmark-arrow-down"></i> Export
            </a>
        </div>
    </div>
</div>
<div id="dictionary" class="w3-container w3-hide">
    <p>Content about Dictionary.</p>
</div>

{% endblock %}

{% block extra_js %}
<script>
    function toggleOpenClose(id) {
        var div = document.getElementById(id);
        var icon = document.getElementById('chevronIcon-' + id);
        if (div.classList.contains('w3-show')) {
            div.classList.remove('w3-show');
            div.classList.add('w3-hide');
            icon.className = "bi bi-chevron-right";
        } else {
            div.classList.remove('w3-hide');
            div.classList.add('w3-show');
            icon.className = "bi bi-chevron-down";
        }
    }

document.addEventListener('DOMContentLoaded', function() {
    initializeTreeItems();
});

function initializeTreeItems() {
    document.querySelectorAll('.tree-item').forEach(item => {
        const form = item.querySelector('form');
        const viewMode = item.querySelector('.item-view');
        const editMode = item.querySelector('.item-edit');
        const editTrigger = item.querySelector('.edit-trigger');
        const treeToggle = item.querySelector('.tree-toggle');
        
        // Toggle children
        treeToggle?.addEventListener('click', () => {
            const children = item.querySelector('.children');
            if (children) {
                children.style.display = children.style.display === 'none' ? 'block' : 'none';
                treeToggle.querySelector('i').classList.toggle('bi-chevron-down');
            }
        });
        
        // Edit mode
        editTrigger?.addEventListener('click', (e) => {
            e.preventDefault();
            e.stopPropagation();
            viewMode.style.display = 'none';
            editMode.style.display = 'block';
            editMode.querySelector('input').focus();
        });
        
        // Handle field changes
        form.querySelectorAll('.inline-field').forEach(field => {
            field.addEventListener('change', () => {
                submitForm(form);
            });
            
            field.addEventListener('keydown', e => {
                if (e.key === 'Escape') {
                    viewMode.style.display = 'block';
                    editMode.style.display = 'none';
                }
            });
        });
    });
}

async function submitForm(form) {
    try {
        const response = await fetch(form.action, {
            method: 'POST',
            body: new FormData(form)
        });
        
        const data = await response.json();
        if (data.success) {
            updateDisplayValues(form, data.data);
        } else {
            showError(form, data.errors);
        }
    } catch (error) {
        showError(form, 'Save failed');
    }
}


{% comment %} 
part of modal form design
    function showEditCard(type, id) {
        console.log("Function called with type:", type, "and id:", id);  // Check if function is called
        const modal = document.getElementById('editModal');
        const formContent = document.getElementById('formContent');
        const span = document.getElementsByClassName("close")[0];
    
        fetch(`/edit-client/${id}/`)
        .then(response => response.text())
        .then(html => {
            console.log("Received HTML:", html);
            formContent.innerHTML = html;
            modal.style.display = "block";
        });
    
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    } {% endcomment %}

    
</script>
{% endblock %}
