<div class="tree-item" data-type="location" data-id="{{ location.id }}">
    <span class="caret">{{ location.name }}</span>
    <div class="item-actions">
        <button class="w3-button w3-small" onclick="addLocation({{ location.project.id }}, {{ location.id }})">Add Sub-location</button>
        <button class="w3-button w3-small" onclick="addMeasurement({{ location.id }})">Add Measurement</button>
        <button class="w3-button w3-small" onclick="renameItem('location', {{ location.id }})">Rename</button>
        <button class="w3-button w3-small" onclick="deleteItem('location', {{ location.id }})">Delete</button>
    </div>
    <ul class="nested">
        {% if location.measurements.exists %}
        <li class="measurement-group">
            <span class="caret">Measurements</span>
            <ul class="nested">
                {% for measurement in location.measurements.all %}
                <li class="tree-item" data-type="measurement" data-id="{{ measurement.id }}">
                    <span>{{ measurement.name }} ({{ measurement.get_measurement_type_display }})</span>
                    <div class="item-actions">
                        <button class="w3-button w3-small" onclick="renameItem('measurement', {{ measurement.id }})">Rename</button>
                        <button class="w3-button w3-small" onclick="deleteItem('measurement', {{ measurement.id }})">Delete</button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% for child in location.children.all %}
        <li>
            {% include "main/location_tree_item.html" with location=child %}
        </li>
        {% endfor %}
    </ul>
</div>